<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <meta charset="UTF-8">
    <title>WhoisFreaks Support</title>
</head>
<body style="width: 99%; position: sticky;">
<section style="background: #ebebeb; border-radius: 10px;">
    <div style="padding: 10px;">
        <div style="background: firebrick; padding: 1px 10px; border-radius: 8px; text-align: center; line-height: 0; font-size: 0;">
            <h2 style="color: #fff; font-size: 22px; display: inline-block; vertical-align: middle; line-height: normal;">
                WhoisFreaks Support
            </h2>
        </div>
    </div>

    <div style="padding: 25px;">
        <div style="font-size: 18px">
            Hi <span style="font-weight: 600; color:firebrick;" th:text="${username}"></span>,
        </div>

        <div style="font-size: 17px; line-height: 0.7; margin-bottom: 25px;">
            <p>On <span th:text="${date}" style="font-weight: bold; color: firebrick;"></span>, we have noticed that your requests have been failing with status codes <span style="font-weight: 600; color: firebrick">401</span> and <span style="font-weight: 600; color: firebrick">429</span>.
            </p>
            <p>Do not worry at all, our team is here to help you resolve all the issues you have been facing.</p>
            <p>The table below displays all the lookup requests you have made, along with their status codes and the count of how many times each lookup has failed.</p>
        </div>

        <table style="background: aliceblue; border-radius: 8px; width: 100%; text-align: center; border: 1px solid #858585; margin-top: 20px;">
            <tr>
                <th style="width: 33.33%; background-color: #b22222; border: 1px solid #b8b7b7; color:#fff; padding: 10px; font-weight: bold; border-radius: 5px;">Lookup</th>
                <th style="width: 33.33%; background-color: #b22222; border: 1px solid #b8b7b7; color:#fff; padding: 10px; font-weight: bold; border-radius: 5px;">Status Code</th>
                <th style="width: 33.33%; background-color: #b22222; border: 1px solid #b8b7b7; color:#fff; padding: 10px; font-weight: bold; border-radius: 5px;">Failure Count</th>
            </tr>
            <tr th:each="entry, counter : ${failed_status_data}">
                <td th:text="${entry.key}" th:style="${counter.index % 2 == 1} ? 'background-color: #ccc; border: 1px solid #a1a1a1; padding: 5px; border-radius: 5px;' : 'background-color: #f1f1f1; border: 1px solid #a1a1a1; padding: 5px; border-radius: 5px;'"></td>
                <td colspan="2">
                    <table style="border-radius: 8px; width: 100.5%; text-align: center; margin: -3px;">
                        <tr th:each="innerEntry : ${entry.value}">
                            <td th:text="${innerEntry.key}" th:style="${counter.index % 2 == 1} ? 'background-color: #ccc; width: 50%; border: 1px solid #a1a1a1; padding: 5px; border-radius: 5px;' : 'width: 50%; background-color: #f1f1f1; border: 1px solid #a1a1a1; padding: 5px; border-radius: 5px;'"></td>
                            <td th:text="${innerEntry.value}" th:style="${counter.index % 2 == 1} ? 'background-color: #ccc; width: 50%; border: 1px solid #a1a1a1; padding: 5px; border-radius: 5px;' : 'width: 50%; background-color: #f1f1f1; border: 1px solid #a1a1a1; padding: 5px; border-radius: 5px;'"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <p style="margin: 25px 0 -5px 0;">Following are some possible reasons for receiving status codes <span style="font-weight: 600; color: firebrick">401</span> and <span style="font-weight: 600; color: firebrick">429</span>:</p>
        <ul style="line-height: 1.5; margin: 0 0 20px -20px;">
            <li>
                <p style="font-weight: 600; color: firebrick; margin: 25px 0 5px 0; font-size: 18px;">401:</p>
                <ol style="line-height: 1.5; margin-left: -20px;">
                    <li>Your API key might be <b>invalid</b>.</li>
                    <li>Your API key might be <b>inactive</b>.</li>
                    <li>You have to <b>buy a subscription plan</b>, or please <b>add api credits</b> then use this api key.</li>
                    <li>Your <b>subscription might be deactivated</b>. Please <b>buy a new plan</b> or <b>add api credits</b> for using WhoisFreaks APIs.</li>
                    <li>Your <b>subscription might be deactivated due to multiple payment failures</b>. Please <b>buy a new plan</b> or <b>add API credits</b> to continue using WhoisFreaks APIs.</li>
                    <li>Your <b>account might have been deactivated</b>.</li>
                </ol>
                <p style="font-weight: 600; font-size: 18px; margin-top: 5px;">If you still have any queries, please reach out to us at <span style="color: firebrick; font-weight: 600;">support@whoisfreaks.com</span>.</p>
            </li>
            <li>
                <p style="font-weight: 600; color: firebrick; margin: 15px 0 5px 0; font-size: 18px;">429:</p>
                <ul style="line-height: 1.5; margin-left: -20px;">
                    <li>Your have <b>reached your maximum request limit</b>. Please <b>upgrade your plan</b>, <b>buy a new plan</b>, or <b>add more API credits</b> to use APIs.</li>
                </ul>
                <p style="font-weight: bold; font-size: 18px; margin-top: 5px;">For a better solution, please contact us at <span style="color: firebrick;">support@whoisfreaks.com</span></p>
            </li>
        </ul>
        <p style="margin-bottom: -7px; font-weight: bold;">Regards,</p>
        <p style="font-weight: bold; color: firebrick; margin-bottom: -5px;">WhoisFreaks</p>
    </div>
</section>
</body>
</html>