<!DOCTYPE html>
    <html lang="en" xmlns:th="https://www.thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <meta charset="UTF-8">
        <title>Email sender</title>
    </head>
    <body style="width: 90%; position: sticky; left: 5%;">
        <section style="background: #ebebeb;">
            <div style="background: #b22222; padding: 1px 10px; border-radius: 8px; text-align: center; line-height: 0; font-size: 0;">
                <img src="https://whoisfreaks.com/images/logo.webp" alt="whoisfreaks" style="width: 85px; vertical-align: middle; display: inline-block; mix-blend-mode: lighten;">
                <h2 style="color: #fff; font-size: 20px; display: inline-block; vertical-align: middle; margin: 0; line-height: normal;">
                    WhoisFreaks Monitoring Tool
                </h2>
            </div>

            <div style="padding: 25px;">
                <h3 style="color: #b22222; font-size: 22px; margin-top: 5px;">Domain monitor</h3>
                <div>
                    <p style="line-height: 1.5;">On <span th:text="${update_date}" style="color:#b22222;"></span>, domain monitor detected changes for <span th:text="${updatedData.size()}"></span> domain(s).</p>
                    <p style="line-height: 1.5;">To view full list of domain changes please visit <a href="https://billing.whoisfreaks.com/monitoring" target="_blank" style="text-decoration: underline; color: #8c1117; font-weight: bold;">Monitoring Web Tool</a>.</p>
                </div>

                <div th:each="domain_name : ${updatedData}">
                    <div style="border: 1px solid #bbb; padding: 15px; background: #fff; border-radius: 5px; margin-top: 20px;">
                        <p style="margin-top: 0; line-height: 1.5;"><span th:text="${domain_name.key}" style="color: #b22222; font-weight: bold;"></span> WHOIS record changes on <span th:text="${update_date}" style="color: #b22222"></span>.</p>

                        <div th:each="field_value : ${domain_name.value}">
                            <p style="font-weight: 600; color: #8c1717; font-size: 18px; line-height: 1.5;">
                                <span th:text="${field_value.field_name}"></span>
                            </p>
                            <div style="margin: -20px 0 -10px 0;">
                                <p style="line-height: 1.5; font-size: 15px; display:inline-block; text-decoration:none; width:37%; word-break:break-all; white-space:normal; padding-right:2%; vertical-align:top;" th:text="${field_value.old_value}" class="field_values_p"></p>
                                <span style="font-size: 40px; color: #ecd591; top: 3px; position: relative; font-weight: bold;">➵</span>
                                <p style="line-height: 1.5; font-size: 15px; display:inline-block; width: 37%; word-break:break-all; white-space:normal; vertical-align:top; padding-left: 2%;" th:text="${field_value.new_value}" class="field_values_p"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <p style="text-align: center; margin: 35px; line-height: 1.5;">To view the full list of changes and configure the monitor, you can visit:</p>
                <div style="text-align: center;">
                    <a href="https://billing.whoisfreaks.com/monitoring" target="_blank" style="text-decoration: none; font-size: 16px; background: wheat; padding: 12px 15px; box-shadow: 2px 2px 10px grey; border-radius: 5px; color: firebrick; font-weight: 600; width: auto; border: 1px solid;">Monitoring Web Tool</a>
                </div>
            </div>
        </section>
    </body>
</html>